span
{
	color: red;
}
.tables
{ width:1200px;
  height:1200px;
  

}
.table1
{
	width:600px;
	height:1000px
	
}
.table2
{
	width:600px;
	height:1000px;
	
}
.selections{
	width:175px
	;
}
.cm, .inch
{
	width:30px;
}
.Buttons{
	float-top:500px;
}